<h3>スケジュール編集</h3>

<%= form_with model: @user do |f| %>
  <table>
    <tr>
      <th><%= f.label :title ,"タイトル" %></th>
      <td><%= f.text_field :title %></td>
    </tr>
    <tr>
      <th><%= f.label :startdate ,"開始日" %></th>
      <td><%= f.text_field :startdate %></td>
    </tr>
    <tr>
      <th><%= f.label :enddate ,"終了日" %></th>
      <td><%= f.text_field :enddate %></td>
    </tr>
    <tr>
      <th><%= f.label :end ,"終日" %></th>
      <td><%= f.check_box :end  %></td>
    </tr>
    <tr>
      <th><%= f.label :sche_memo ,"スケジュールメモ" %></th>
      <td><%= f.text_area :sche_memo %></td>
    </tr>
  </table>

  <div>
    <ul>
      <li><%= f.submit "編集を完了する" %></li>
      <li><%= link_to "スケジュール一覧に戻る", users_path %></li> 
    </ul>
  </div>
<% end %>