<h3>スケジュール新規作成</h3>
<% if @user.errors.any? %>
  <div>
    <ul style="color: red">
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: @user do |f| %>
  <table>
    <tr>
      <th><%= f.label :title ,"タイトル" %></th>
      <td><%= f.text_field :title %></td>
    </tr>

    <tr>
      <th><%= f.label :startdate ,"開始日" %></th>
      <td><%= f.date_field :startdate %></td>
    </tr>
    <tr>
      <th><%= f.label :enddate ,"終了日" %></th>
      <td><%= f.date_field :enddate  %></td>
    </tr>
    <tr>
      <th><%= f.label :end ,"終日" %></th>
      <td><%= f.check_box :end  %> <br>　　終日の場合はチェックを入れます</td>
    </tr>
    <tr>
      <th><%= f.label :sche_memo ,"スケジュールメモ" %></th>
      <td><%= f.text_area :sche_memo %></td>
    </tr>
  </table>

  <div>
    <ul>
      <li><%= f.submit "スケジュールを新規登録する"%></li>
      <li><%= link_to "スケジュール一覧に戻る", users_path %></li>
    </ul>
  </div>
<% end %>
